.error {
  color: red;
  font-size: 12px;
}

.transaction-button {
  font-size: 16px;
  padding: 10px;
  width: 300px;
}


.notice {
  color: green;
  font-size: 12px;
}

.number-input {
  width: 300px;
}

.balance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 3px;
  gap: 10px;
  font-size: 2.5rem;
}

input[type="number"]:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 5px teal;
}

input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}